# **Actividad 1. Limpieza iterativa - Yenny Gonzalez**

#importar pandas y leer archivo csv
import pandas as pd

#Leer Archivo csv titanic
df = pd.read_csv('10.000_Empresas_mas_Grandes_del_Pa_s_20240822.csv')

# Muestra las primeras filas
print(df.head())

## *Limpieza de un carácter especial.*

#### 1. Se toma la columna correspondiente a "Región" con el Fin de eliminar la palabra "cundinamarca" y remplazarla por "Bogota" (Esta se escribe sin tilde para evitar despues tener que remplazar la tilde).

#Convertir el campo "REGIÓN" a texto
df['REGIÓN'] = df['REGIÓN'].astype(str)

# Reemplazar 'Bogotá - Cundinamarca' por 'Bogota' en la columna "REGIÓN"
df['REGIÓN'] = df['REGIÓN'].replace('Bogotá - Cundinamarca', 'Bogota')

print(df['REGIÓN'].unique())

#### 2. Se procede a eliminar las tildes presentes en la columna "Región".

In [32]:
# Función para eliminar tildes

def eliminar_tildes(texto):
    if isinstance(texto, str):
      return unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('ASCII')
    return texto

df['REGIÓN'] = df['REGIÓN'].apply(eliminar_tildes)

print(df['REGIÓN'].unique())

['Bogota' 'Costa Atlantica' 'Antioquia' 'Costa Pacifica' 'Eje Cafetero'
 'Centro - Oriente' 'Otros']

## *Reducción de los nits de longitud mayor a 9.*

#### Se realiza un conteo de la totalidad de los NITS contenidos en la columna, con el fin de validar la longitud de cada de ellos y dar lugar a la eliminación para unificarlos, pero evidencia que todos los NITS ya cuentan con un total de 9 caracteres, por lo que no es necesario realizar este paso.

In [53]:
#Conversion de la columna "NIT" a texto
df['NIT'] = df['NIT'].astype(str)

#Contar la cantidad de caracteres y crear una columna que traiga este resumen
df['Longitud NIT'] = df['NIT'].str.len()

print(df1['Longitud NIT'].unique())

[9]

# **Actividad 2. Transformación de datos.**

## *Transformación del tipo de dato.*

#### A continuación se remplazan los valores contenidos en las columnas cuyo valor contenga el signo "$" por "" con el fin de unificar los valores y realizar la conversion de dichos valores a numericos para poder realizar un analisis simple de la sumatoria de algunas columnas.

In [38]:
# Eliminar "$" de la totalidad de la base.
df = df.replace({'\$': ''}, regex=True)

# Conversion de columnas a valores numericos
columnas_a_convertir = ['INGRESOS OPERACIONALES', 'GANANCIA (PÉRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS', 'TOTAL PATRIMONIO']
df[columnas_a_convertir] = df[columnas_a_convertir].apply(pd.to_numeric)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  float64
 9   GANANCIA (PÉRDIDA)      20000 non-null  float64
 10  TOTAL ACTIVOS           20000 non-null  float64
 11  TOTAL PASIVOS           20000 non-null  float64
 12  TOTAL PATRIMONIO        20000 non-null  float64
 13  Año de Corte            20000 non-null  int64
dtypes: float64(5), int64(3), object(6)
memory usage: 2.1+ MB

#### A continuación se relaciona un resumen de la ecuacion basica patrimonial (Activo-Pasivo=Patrimonio) realizando la sumatria por "Región" y comporbando la veracidad de la misma con los valores relacionados a continuación:

In [44]:
#Suma del patrimonio por departamentos domicilio
TOTAL_PATRIMONIO_dpt = df.groupby(['REGIÓN'])['TOTAL PATRIMONIO'].sum()
print(TOTAL_PATRIMONIO_dpt.sort_values())

REGIÓN
Otros                 13.25
Eje Cafetero          20.32
Centro - Oriente      37.80
Costa Pacifica       126.71
Costa Atlantica      177.26
Antioquia            464.08
Bogota              1152.70
Name: TOTAL PATRIMONIO, dtype: float64

In [45]:

#Suma de activos por departamentos domicilio
TOTAL_ACTIVOS_dpt = df.groupby(['REGIÓN'])['TOTAL ACTIVOS'].sum()
print(TOTAL_ACTIVOS_dpt.sort_values())

REGIÓN
Otros                 26.61
Eje Cafetero          48.99
Centro - Oriente      76.54
Costa Pacifica       264.47
Costa Atlantica      368.09
Antioquia            842.30
Bogota              2333.86
Name: TOTAL ACTIVOS, dtype: float64

In [46]:
#Suma de pasivos por departamentos domicilio
TOTAL_PASIVOS_dpt = df.groupby(['REGIÓN'])['TOTAL PASIVOS'].sum()
print(TOTAL_PASIVOS_dpt.sort_values())

REGIÓN
Otros                 12.80
Eje Cafetero          28.39
Centro - Oriente      38.04
Costa Pacifica       136.83
Costa Atlantica      190.28
Antioquia            376.30
Bogota              1178.90
Name: TOTAL PASIVOS, dtype: float64